.header {
  background-color: gray;
  height: 70px;
  h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
    a {
      color: black;
      text-decoration: none;
    }
  }
}

.page-title {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
