<div>
  <p class="mission-label">{{details.mission}}</p>
  <p>
    <span class="title">Location</span>
    <br/>{{details.location}}
  </p>
  <p>
    <span class="title">Rank</span>
    <br/>{{details.rank}}
  </p>
  <p>
    <span class="title">Fee</span>
    <br/>{{details.fee | currency}}
  </p>
  <p>
    <span class="title">Description</span>
    <br/>{{details.desc}}
  </p>

  <div>
    <sh-selected-ninjas [id]="id"></sh-selected-ninjas>
  </div>
</div>
