<table class="table">
  <tr>
    <th *ngFor="let item of heading">
      {{item}}
    </th>
  </tr>
  <tr *ngFor="let row of body">
    <td>{{row.id}}</td>
    <td>
      <a routerLink="/mission/{{row.id}}">{{row.mission}}</a>
    </td>
    <td>{{row.location}}</td>
    <td>{{row.rank}}</td>
    <td>{{row.fee | currency}}</td>
  </tr>
</table>
