<section *ngIf="!isViewProfile; else viewProfile">
  <sh-ninja-dashboard [onProfileSelect]="selectProfile"></sh-ninja-dashboard>
</section>

<!-- every thing in the ng-template element is hidden unless given instruction to render by a angular directive -->
<ng-template #viewProfile>
  <sh-ninja-profile [id]="currentProfile.id"></sh-ninja-profile>
  <div>
    <button (click)="backToNinjas()" class="clickable">Back to Ninjas</button>
    <button *ngIf="!currentProfile.current_mission" (click)="selectNinjaForMission()" class="clickable">Select</button>
  </div>
</ng-template>
