<div>
  <div class="ninja clickable" *ngFor="let ninja of selectedNinjas" (click)="removeFromMission(ninja.id)">
    <img src="../../../assets/images/{{ninja.profile_image}}" />
    <div>{{ninja.fname}}</div>
  </div>
</div>
