<div>
  <img src="../../assets/images/{{profile.profile_image}}" />
  <div>{{profile.lname}} {{profile.fname}}</div>
  <p>
    <span class="title">Rank</span>
    <br/>{{profile.rank}}
  </p>
  <p>
    <span class="title">Available</span>
    <br/>
    <span *ngIf="profile.current_mission">No</span>
    <span *ngIf="!profile.current_mission">Yes</span>
  </p>
</div>
