<table class="table">
  <tr>
    <th *ngFor="let item of heading">
      {{item}}
    </th>
  </tr>
  <tr *ngFor="let row of body">
    <td>{{row.id}}</td>
    <td>
      <img (click)="onProfileSelect(row.id)" class="profile-img clickable" src="../../assets/images/{{row.profile_image}}" />
    </td>
    <td (click)="onProfileSelect(row.id)" class="clickable">{{row.lname}} {{row.fname}}</td>
    <td>{{row.rank}}</td>
    <td>
      <span *ngIf="row.current_mission">No</span>
      <span *ngIf="!row.current_mission">Yes</span>
    </td>
  </tr>
</table>
